/* body {
    background-color: antiquewhite;
} */

/* .square {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
} */

div {
    border: 1px solid white;
}

#board {
    width: 240px;
    line-height: 0;
}

#container {
    width: 608px;
}

#color-palette, #my-palette {
    display: inline-block;
    width: 300px;
    height: 500px;
    /* overflow: hidden; */
}

.square {
    display: inline-block;
    width: 28px;
    height: 28px;
    /* margin: 0; */
    /* cursor: pointer; */
}